<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>Lista lokalizacji</h2>
        <p>Brak rekordów do wyświetlenia</p>
        <p><a href="/location/add" class="button-add">Dodaj nową lokalizacje</a></p>
    </main>
    <%- include('../../fragments/footer.ejs') %>