<%- include('../../fragments/header.ejs') %>
    <main>
        <h2>Rejestracje</h2>
        <p>Brak rekordów do wyświetlenia</p>
        <p><a href="/register/add" class="button-add">Dodaj nowa rejestracje </a></p>
    </main>
    <%- include('../../fragments/footer.ejs') %>